In [1]:
import pandas as pd

In [10]:
mon = pd.read_csv('../Project-Markov-Simulation/monday.csv', index_col=0, parse_dates= True, sep=';')
tue = pd.read_csv('../Project-Markov-Simulation/tuesday.csv', index_col=0, parse_dates= True, sep=';')
wed = pd.read_csv('../Project-Markov-Simulation/wednesday.csv', index_col=0, parse_dates= True, sep=';')
thu = pd.read_csv('../Project-Markov-Simulation/thursday.csv', index_col=0, parse_dates= True, sep=';')
fri = pd.read_csv('../Project-Markov-Simulation/friday.csv', index_col=0, parse_dates= True, sep=';')

In [7]:
mon

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

In [11]:
tue.head()

                     customer_no location
timestamp
2019-09-03 07:02:00            1    fruit
2019-09-03 07:02:00            2   drinks
2019-09-03 07:03:00            3    dairy
2019-09-03 07:05:00            1   drinks
2019-09-03 07:06:00            4    dairy

In [12]:
wed.head()

                     customer_no location
timestamp
2019-09-04 07:00:00            1    fruit
2019-09-04 07:00:00            2    dairy
2019-09-04 07:00:00            3    fruit
2019-09-04 07:00:00            4    fruit
2019-09-04 07:00:00            5    dairy

In [13]:
thu.head()

                     customer_no  location
timestamp
2019-09-05 07:00:00            1    drinks
2019-09-05 07:01:00            2     fruit
2019-09-05 07:01:00            3     dairy
2019-09-05 07:01:00            4     dairy
2019-09-05 07:02:00            1  checkout

In [14]:
fri.head()

                     customer_no  location
timestamp
2019-09-06 07:00:00            1     dairy
2019-09-06 07:00:00            2    drinks
2019-09-06 07:00:00            3     fruit
2019-09-06 07:01:00            2  checkout
2019-09-06 07:01:00            4    drinks