In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [2]:
mon = pd.read_csv('..//Project-Markov-Simulation/data/monday.csv', index_col=0, parse_dates= True, sep=';')
tue = pd.read_csv('../Project-Markov-Simulation/data/tuesday.csv', index_col=0, parse_dates= True, sep=';')
wed = pd.read_csv('../Project-Markov-Simulation/data/wednesday.csv', index_col=0, parse_dates= True, sep=';')
thu = pd.read_csv('../Project-Markov-Simulation/data/thursday.csv', index_col=0, parse_dates= True, sep=';')
fri = pd.read_csv('../Project-Markov-Simulation/data/friday.csv', index_col=0, parse_dates= True, sep=';')

## DATA EXPLORATION

Our sales department is interested in a summary of the collected data. Please generate a report including numbers and diagrams. Note that your audience are not data scientists, so take care to prepare insights that are as clear as possible. We are interested in the following:

Calculate the total number of customers in each section

Calculate the total number of customers in each section over time

Display the number of customers at checkout over time

Calculate the time each customer spent in the market

Calculate the total number of customers in the supermarket over time.

Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as “following”).

In [3]:
days= [mon,tue,wed,thu,fri]
days1 =days

In [4]:
mon.head()

                     customer_no location
timestamp
2019-09-02 07:03:00            1    dairy
2019-09-02 07:03:00            2    dairy
2019-09-02 07:04:00            3    dairy
2019-09-02 07:04:00            4    dairy
2019-09-02 07:04:00            5   spices

In [5]:
total =0
for day in days:
    daily_total =day['customer_no'].max()
    print(daily_total)
    total+= daily_total
print('')    
print(total)

1447
1422
1531
1535
1510

7445

In [6]:
mon['location'].value_counts()

checkout    1437
fruit       1005
dairy        895
drinks       797
spices       750
Name: location, dtype: int64

In [7]:
section =0
for day in days:
    section_total =day['location'].value_counts()
    #print(section_total)
    section+= section_total
print('')    
print(section)

checkout    7417
fruit       5122
dairy       4679
drinks      3905
spices      3754
Name: location, dtype: int64

In [8]:
total =0
for day in days:
    daily_total =day['customer_no'].max()
    print(daily_total)
    total+= daily_total
print('')    
print(total)

1447
1422
1531
1535
1510

7445

In [9]:
df= mon.sort_values(by=['customer_no', 'location'],)
df

                     customer_no  location
timestamp
2019-09-02 07:05:00            1  checkout
2019-09-02 07:03:00            1     dairy
2019-09-02 07:06:00            2  checkout
2019-09-02 07:03:00            2     dairy
2019-09-02 07:06:00            3  checkout
...                          ...       ...
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:48:00         1444    spices
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

iterate through the days list of days dataframes
for each unique customer number in df add unique customer number to new column called new customer numbers
ignore any duplicate customer numbers in any single df

for next df take the last(max) customer from previous df and add this to new column in df
ignoring duplicates
concatenate dfs into new df with all unique customer numbers

In [10]:
df1 =pd.DataFrame()
for day in days1:
    day = day.reset_index()
    day['new_cust_no'] = '1'
    day = day.sort_values(by=['customer_no', 'timestamp'],)
    #print(day.head(5))
    df1= pd.concat([df1,day]).reset_index(drop=True)
df1

                timestamp  customer_no  location new_cust_no
0     2019-09-02 07:03:00            1     dairy           1
1     2019-09-02 07:05:00            1  checkout           1
2     2019-09-02 07:03:00            2     dairy           1
3     2019-09-02 07:06:00            2  checkout           1
4     2019-09-02 07:04:00            3     dairy           1
...                   ...          ...       ...         ...
24872 2019-09-06 21:50:00         1507  checkout           1
24873 2019-09-06 21:48:00         1508     dairy           1
24874 2019-09-06 21:50:00         1508  checkout           1
24875 2019-09-06 21:50:00         1509    drinks           1
24876 2019-09-06 21:50:00         1510    spices           1

[24877 rows x 4 columns]

In [11]:
current_customer_no = 1
for i in range(1,len(df1)):
    if df1['customer_no'][i] != df1['customer_no'][i-1]:
        current_customer_no +=1
        df1['new_cust_no'][i] = current_customer_no
    else:
        df1['new_cust_no'][i] = df1['new_cust_no'][i-1]

df1

/home/nathan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/nathan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                timestamp  customer_no  location new_cust_no
0     2019-09-02 07:03:00            1     dairy           1
1     2019-09-02 07:05:00            1  checkout           1
2     2019-09-02 07:03:00            2     dairy           2
3     2019-09-02 07:06:00            2  checkout           2
4     2019-09-02 07:04:00            3     dairy           3
...                   ...          ...       ...         ...
24872 2019-09-06 21:50:00         1507  checkout        7442
24873 2019-09-06 21:48:00         1508     dairy        7443
24874 2019-09-06 21:50:00         1508  checkout        7443
24875 2019-09-06 21:50:00         1509    drinks        7444
24876 2019-09-06 21:50:00         1510    spices        7445

[24877 rows x 4 columns]

In [12]:
df1.isna().sum()

timestamp      0
customer_no    0
location       0
new_cust_no    0
dtype: int64

In [ ]:
#new customer number max is same as sum of combined dataframes